.nav-back {
	color: black;
	font-weight: 600;
	position: absolute;
	padding: 10px 0px 0px 20px;
	text-align: left;
	align-self: left;
	left: 0;
    top: 0;
}

 .nav-back::before {
    content: "← Go back to jayde.dev";
 }

.nav-container
{
	position: sticky;
	top: 0;
}