.nav-back {
	color: black;
	font-weight: 600;
	font-family: "RalewayVF", Tahoma, Verdana, sans-serif;
	line-height: normal;
	text-align: left;
	
	position: relative;
	
	background: white;

	 border-radius: 10px;
	border: 2px solid black;
	padding: 5px;
	
}

 .nav-back::before {
    content: "← Go back to jayde.dev";
 }


.nav-container
{
	position: absolute;
	left: 0;
	top: 0;

	padding: 10px 0px 0px 20px;

	align-self: left;

	z-index: 100;
}

.nav-sticky
{
	position: sticky;
	top: 0;
	z-index: 110;

}