.center-box{
	display: grid;
}


.grid-container {
	display: grid;
	grid-template-columns: 	repeat(2, minmax(50vmin, 600px));
	grid-template-rows: repeat(4, minmax(33.3vmin, 400px));

	grid-area: middle;
	
	font-size: 1.4em;
  padding: 8px 8px 50px 8px;

	/*! align-items: center; */
}

.rows{
	/*! display: grid; */
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	max-height: 400px;
}

.spacer {
	display:flex;
	/*! align-items: center; */ 
	justify-content: center;
	
	flex-direction: column;
	
}

.grid-item {
	display: flex;
	justify-content: center;
  align-items: center;
	background-color: #244FFE;
	color: white;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link {
  grid-column-start: 1;
  grid-column-end: 3;
	padding: 50px;
	font-size: 2em;
	font-weight: 600;
	color: #244FFE;
}

.link p{
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 0.5em;
}

.credits{
	grid-column-start: 1;
  grid-column-end: 3;
	font-weight: 100;
	font-size: 0.8em;
}

body{
	font-family: Raleway, Tahoma, Verdana, sans-serif;
	text-align: center;
	line-height: 1.5;
}

h1{
	font-size: 2em;
	grid-row: 1;
	padding: 0px 10px 0px 10px;
}
p{
	font-size: 1em;
	grid-row: 2;
	padding: 0px 10px 0px 10px;
}

.grid-item img{
  object-fit: cover;
  max-height:100%;
  width: 100%;
  height: auto;
}

video{
  object-fit: cover;
  max-height:100%;
  width: 100%;
  height: auto;
}

.small-text
{
	font-size: 0.5em;
	grid-row: 3;
}

