.grid-container {
	display: grid;
	grid-template-columns: [content-start] 1fr [content-end];
	grid-template-rows: auto;

	grid-area: middle;
	
	font-size: 1.4em;
  	padding: 8px 8px 50px 8px;
  
	margin-left: 20vw;
	margin-right: 20vw;


	/*! align-items: center; */
}


@media screen and (max-width: 60em) {
	.grid-container {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 45em) {
	.grid-container {
		margin-left: 0%;
		margin-right: 0%;
	}
}

.grid-content-main{
    grid-column-start: content-start;
    grid-column-end: content-end;

	position: relative;
}

.noise{
	position: relative;
	padding: 50px 0px 50px 0;

	font-weight: 700;
	
}

.emphasis{
	padding: 25px 0px 25px 0;

}
.fragile{
	padding: 50px 0px 50px 0;

}

.image-below {
	position: absolute;
	margin: auto;
	width: 112px;
	height: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	mix-blend-mode:overlay
}
