.grid-header {
  display: grid;
  grid-template-columns: [start] 10% [name-start] 10% [subtitle-start] 1fr [name-end] 1fr [end];
	
	padding: 2.5%;
	z-index: 5;
}

.main-name {
	font-size: 4em;
	font-family: Raleway, Tahoma, Verdana, sans-serif;
	font-weight: 900;
	text-align: left;
	color:black;
	
	
	grid-row: 2;
	grid-column-start: name-start;
	grid-column-end: name-end;
}

.info {
	font-size: 1em;
	font-family: Raleway, Tahoma, Verdana, sans-serif;
	font-weight: 250;
	text-align: right;
  color:black;
	
	grid-row: 1;
	grid-column-start: start;
	grid-column-end: end;
}

.subtitle {
	font-size: 1em;
	font-family: Raleway, Tahoma, Verdana, sans-serif;
	font-weight: 250;
	text-align: left;
	
	grid-row: 3;
	grid-column-start: subtitle-start;
	grid-column-end: subtitle-end; 
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
	.grid-header{
		grid-template-columns: [start subtitle-start] 10% [name-start] 1fr [name-end end];
	}
}



a {
	mix-blend-mode: difference;
	color: white;
}

.grid-content {
	display: grid;
	grid-template-columns: 	3;
	grid-template-rows: 5;
	padding: 5%;
	  
	  z-index: 4;
}

.content {
	font-size: 1em;
	font-family:  Raleway, 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-weight: 400;
	text-align: left;
	line-height: 1.5;

	padding-bottom: 5%;

	grid-column: 2;
}






.background-image {
	background:rgb(40, 40, 40) url(media/Background_Pattern.png);
	image-rendering: crisp-edges;
	padding: 0px 0px 0px 0px;
	z-index: -2;

	position:fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
	; 
}

.gradient-container {
	padding: 0px 0px 0px 0px;
	z-index: -1;

	opacity: 70%;

	position:fixed;	 
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
}

.svg-invisible {
    height: 0;
    left: -9999em;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 0;
}
