.grid-container {
  display: grid;
  grid-template-columns: 	auto;
  grid-gap: 50px;
	font-size: 1.5em;
}

.title {
	align: center;
}

body{
	font-family: Raleway, Tahoma, Verdana, sans-serif;
	text-align: center;
}

h1{
	font-size: 3em;
}
p{
	font-size: 2em;
}

.small-text
{
	font-size: 0.8em;
}

